langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
tiktoken
jsonschema
dotenv
sentence-transformers
pymongo
fastapi
pydantic
uvicorn
python-dotenv
requests
python-multipart